version: 2.1
orbs:
  node: circleci/node@4.7
jobs:
  build-and-deploy:
    docker:
      - image: circleci/node:12.0.0
    steps:
      - checkout
      - run:
          command: sudo npm i -g serverless npm@latest
      - run:
          command: npm install
      - run:
          command: ./.circleci/install-credentials.sh
      - run:
          command: sls deploy
workflows:
  build-and-deploy:
    jobs:
      - build-and-deploy:
          context: slsProdReady
          filters:
            branches:
              only:
                - main
